<h1>List of some famous books!!</h1>

<% for(var i=0; i<list.length ; i++){  %>
    <li>
        <strong><%= list[i].title %></strong> written by
        <strong><%= list[i].author%></strong>
    </li>
    <% } %>