<!DOCTYPE>
<html>

<head>
    <title>
        Register Yourself!!
    </title>
</head>

<body>
    <form action="/register" method="POST">
        <input type="text" name="Username" placeholder="Username"><br>
        <input type="password" name="Password" placeholder="Password"><br>
        <input type="Submit">
    </form>
    <a href="/login">Login</a><br>
    <a href="/register">Register</a><br>
    <a href="/logout">Logout</a><br>
</body>

</html>