<!DOCTYPE>
<html>

<head>
    <title>
        Welcome to the secret page!!
    </title>
</head>

<body>
    <h1>Welcome to the secret page!!</h1>
    <a href="/login">Login</a><br>
    <a href="/register">Register</a><br>
    <a href="/logout">Logout</a><br>
</body>

</html>